/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
body {
  background-color: #F0EAD6;
}

=======
/* Provide sufficient contrast against white background */
>>>>>>> fde3ad7 (Had to recreate the app so I could publish to aws. Otherwise no changes.)
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
<<<<<<< HEAD

.manuscript {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 5px 5px #888888;
  height: 600px;
  padding: 10px;
  width: 810px;
}
=======
>>>>>>> fde3ad7 (Had to recreate the app so I could publish to aws. Otherwise no changes.)
