<div class="manuscript">
  <app-game-board></app-game-board>

  <div class="rule-validity-display">
    <div id="parallel-octaves"></div>
    <div id="hidden-octaves"></div>
    <div id="parallel-fifths"></div>
    <div id="hidden-fifths"></div>
    <div id="dissonant-intervals"></div>
    <div id="multiple-high-points"></div>
    <div id="crossed-voices"></div>
    <div id="first-measure-interval"></div>
    <div id="last-measure-interval"></div>
    <div id="thirds-sixths-tenths"></div>
    <div id="tied-notes"></div>
    <div id="extended-tied-notes"></div>
    <div id="leading-tone-approached-by-step"></div>
  </div>

  <p class="book-citation">
    The rules used for validation are taken from
    <a href="https://www.amazon.com/Counterpoint-Composition-Study-Voice-Leading/dp/023107039X" target="_blank">
      Counterpoint in Composition: The Study of Voice Leading
    </a> by Felix Salzar and Carl Schachter
  </p>
</div>


